<div class="row">
      
          
                    
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>List_Title</th>
          <th>Sequence</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td>
              <span class="glyphicon glyphicon-edit"></span>
              <span style="margin-left:5px;" class="glyphicon glyphicon-trash"></span>
                  <span  style="margin-left:5px;" class="glyphicon glyphicon-thumbs-up"></span>
                
           
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>
              <span class="glyphicon glyphicon-edit"></span>
              <span style="margin-left:5px;" class="glyphicon glyphicon-trash"></span>
                  <span  style="margin-left:5px;" class="glyphicon glyphicon-thumbs-up"></span>
                
             
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>
              <span class="glyphicon glyphicon-edit"></span>
              <span style="margin-left:5px;" class="glyphicon glyphicon-trash"></span>
              <span  style="margin-left:5px;" class="glyphicon glyphicon-thumbs-up"></span>
          </td>
        </tr>
      </tbody>
    </table>
      </div>