
<div class="container-fluid">
    <div class="rows">
                         <!-- siderbar -->
       <div class="col-md-3" style="height:700px; background-color: black ;margin-top: 25px;">
        <div class="col">
                           <!-- search box -->
                           <input type="text" placeholder="Search.." name="search2" style="margin-top:30px;color:black">
                           <button type="submit"><i class="fa fa-search"></i></button> 
        </div>
        <div class="col-md-12" style="margin-top:50px;">
            <a  style="color:antiquewhite" routerLink="/dashboard" routerLinkActive="active"><b>Dashboard</b></a> 
          </div>
          <div class="col-md-12" style="margin-top:10px;">
                <a style="color:antiquewhite"  routerLink="/user" routerLinkActive="active"><b>View</b></a>
             <!--  <select id="opt"  style="width:150px;">
                <option >User's</option>
                <option >View</option>
              </select> -->
            </div>
            <div class="col-md-12" style="margin-top:10px;">
                    <a style="color:antiquewhite" routerLink="/master" routerLinkActive="active"><b>Add</b></a>
                <!-- <select id="opt" style="width:150px;">
                    <option >Master</option>
                    <option >Add</option>
                  </select> -->
              </div>
         </div>
                             <!-- content -->
       <div class=" col-md-9" style="height:700px;  margin-top: 5px">
                             <!-- header  -->
          <div  style="height:100px;width:1000px; background-color: blue;">
                            <!-- admin pannel -->
              <h2 style="padding-top:20px;margin-left: 20px;">Admin Pannel - Todo</h2> 
              <select class="hselect" style="margin-left:700px;width:120px;height:20px;">
                
                
                  <option selected value="Admin Name"><b >Admin Name</b></option>
                  <option value="post">post</option>
                  <option value="date">date</option>
                  <option value="place">place</option>
                
              </select>
              <span style="font-size:30px;margin-left:10px;" class="glyphicon glyphicon-user"></span>
              
             </div>
             

<!--  -->
<div class="container">



  <div class="row" >
    <div class="col-md-6">
      <h4>User Details</h4>
</div>
<div class="col-md-6">
    <div class="search-container">
        <form action="/action_page.php">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
</div>
  </div>
  <div class="row">
      
          
                    
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Mobile</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td>
            
                  <span class="glyphicon glyphicon-thumbs-up"></span>
                
            <span style="margin-left:5px;" class="glyphicon glyphicon-edit"></span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>
              <span class="glyphicon glyphicon-thumbs-up"></span>
                
              <span style="margin-left:5px;" class="glyphicon glyphicon-edit"></span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>
              <span class="glyphicon glyphicon-thumbs-up"></span>
                
              <span style="margin-left:5px;" class="glyphicon glyphicon-edit"></span>
          </td>
        </tr>
      </tbody>
    </table>
      </div>
      
  
</div>

